.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #ffffff;
}

.user {
    display: flex;
    margin: auto;
}

input {
    border: 1px solid #999999;
    border-radius: 22px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    min-width: 250px;
    margin-right: 12px;
    width: 80%;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    background: #203338;
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
    margin-right: 12px;
    width: 80%;
}