@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

header {
    height: 55px;
    width: 100%;
    background: #2D333B;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 3px;
}